#titulo {
    color: tomato;
}

p.especial {
    color: mediumseagreen
}

p.texto {
    color: slateblue
}

div p {
    color: aquamarine
}

div h2, div h3 {
    color: brown
}

*{
    font-size: 24px;
   /*  color: black */
}

/* esto es un comentario 

.color {
    color: rgb(0, 255, 255)
}

.color {
    color: #ff0000
}*/

.color {
   /*  border: 5px red outset; */
    /*
    dotten
    dashed
    solid
    double
    groove
    ridge
    inset
    outset
    none
    hidden
    */
    border-style: solid;
    border-color: blue;
    border-radius: 5px;
    border-width: 2rem
}

#fondo {
    background-color: rgba(255, 0, 0);
    /* opacity: 0.3; */
    height: 200px;
    background-image: url('coffee.png');
    background-size: 100px, 100px;
 /*    Primero el ancho y depsues el alto */
   /*  background-repeat: repeat-y;
    background-position: right top; */
  /*   También se puede dar en pixeles, cms, etc */
    background: #f00 url('coffee.png') repeat-y ccenter bottom / 100px 100px;
}
.margen {
    background-color: chocolate;
    margin: 15px 20px 25px 30px;
    /* primero: margen de arriba
    segundo: marchen de derecha
    tercero: margen de abajo
    cuarto: margen de izquierda
} */
    padding: 30px 15px 5px;
   /*  El padding es el espacio dentro del elemento */
    border: solid 1px black;
    height: 100px;
    width: 50px;
    overflow: scroll;
    outline: 1px solid red;
}

.text {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: justify;
    text-decoration: overline;
    text-shadow: 3px 5px 5px blue; 
    /* Valores: derecha, abajo, blur */
}      

a:link {
    color: blueviolet;
}

a:visited {
    color: gray;
}

a:hover {
    color: yellow;
}

a:active {
    color: red;
}

ul{
    background-color: cyan;
    list-style-type: georgian;
    /* padding-left: 0; */
    list-style-position: inside;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: solid 1px #eee;
    padding: 5px;
}

th {
    background-color: tomato;
    color: white;
    text-align: left;
}

tr:nth-child(even) {
    background-color: #eee;
}

tr:hover {
    background-color: #aaa;
    cursor: pointer;
}

span {
    display: block;
}

.inline {
    display: inline
}

